---
layout: default
title: Exhibition
include_script: true
---
<h2 class="page-content-title">MUSEUM EXHIBITION</h2>
<p style="margin-bottom:30px;">These are images from an exhibition of match safes, and vestas, at the Delaware Art Museum, entitled, <b>PORTABLE FIRE</b>, 13&nbsp;September 2014 – 15&nbsp;March 2015. A catalog from this exhibition is available for purchase.</p>
<div class="row">
  <div class="col-md-12">
    <img id="display" class="img-fluid" src="/assets/images/exhibition/1.jpg">
  </div>
</div>
<p id="displayCaption">Photo <span id="displayNum">1</span> of 8<p>
<div class="row" style="margin-top: 30px;">
  {% for x in (1..4) %}
  <div class="col-3">
    <img class="img-fluid thumbnail" src="/assets/images/exhibition/thumbnails/{{ x }}.jpg" data-num="{{ x }}">
  </div>
  {% endfor %}  
</div>
<div class="row" style="margin-top: 30px;">
  {% for x in (5..8) %}
  <div class="col-3">
    <img class="img-fluid thumbnail" src="/assets/images/exhibition/thumbnails/{{ x }}.jpg" data-num="{{ x }}">
  </div>
  {% endfor %}  
</div>