---
layout: default
title: Sales
---
<h2 class="page-content-title">SALES</h2>
<p style="margin-bottom:30px;">
  These are match safes currently for sale. Please <a href="/contact">contact me</a> if you have any questions.<br>
  <i>Click on images to see the full descriptions.</i>
</p>
<div class="grid">
  {% for item in site.sales %}
  <div class="grid-item">
    <a href="{{ item.url }}">
      <img class="item-img" src="{{ item.images[0] | default: item.images | replace: '/upload/', '/upload/t_sales_thumb/' }}">
    </a>
    <a class="item-title" href="{{ item.url }}">
      {% if item.item_id and item.item_id != empty %}
        {{ item.item_id | append: ": " }}
      {% endif %}
      {{ item.title }}
    </a>
    <div class="item-year">{{ item.age }}</div>
    <div class="item-price">{{ item.price }}</div>
  </div>
  {% endfor %}
</div>