.header {
  border-bottom-style: solid;
  padding: 40px 0px;
}
.header p {
  margin: 0;
}
.site-content {
  margin-top: 40px;
}
.page-content {
  border-style: solid;
  border-color: lightgray;
  padding: 30px;
}
.page-content .page-content-title {
  margin-bottom: 30px;
}
#site-nav {
  padding-left: 0px;
}
nav .btn {
  margin-bottom: 25px;
}
.article-content ul {
  list-style: none;
}
.book-slider .card {
  margin: 0 10px;
  padding: 20px 0;
}
#links p {
  margin-bottom: 5px;
}
#links a {
  display: block;
  margin-bottom: 20px;
}
table td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
