<script>
  const forSaleTab = document.getElementById("for-sale-tab"),
    soldTab = document.getElementById("sold-tab"),
    forSaleContent = document.getElementById("for-sale-content"),
    soldContent = document.getElementById("sold-content");
  
  let forSaleTabActive = true, soldTabActive = false, soldTabImagesLoaded = false;

  function switchActiveTab() {
    forSaleTabActive = !forSaleTabActive;
    soldTabActive = !soldTabActive;

    if (soldTabActive && !soldTabImagesLoaded)
      loadSoldTabImages();

    forSaleTab.classList.toggle("is-active");
    forSaleTab.setAttribute("aria-selected", forSaleTabActive);
    forSaleContent.classList.toggle("is-active");

    soldTab.classList.toggle("is-active");
    soldTab.setAttribute("aria-selected", soldTabActive);
    soldContent.classList.toggle("is-active");
  }

  function loadSoldTabImages() {
    const images = soldContent.querySelectorAll("img");
    
    for (let image of images)
      image.src = image.dataset.src;
    
    soldTabImagesLoaded = true;
  }

  forSaleTab.addEventListener("click", () => !forSaleTabActive && switchActiveTab());
  soldTab.addEventListener("click", () => !soldTabActive && switchActiveTab());
</script>