<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script>
  $(function () {
    $('.book-slider').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 523,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    }).on('setPosition', function (event, slick) {
      // resize slides to equal height
      // reference: https://stackoverflow.com/questions/49028877/slick-carousel-force-slides-to-have-the-same-height
      // - first let slides take on their auto height (100%)
      slick.$slides.css('height', 'auto');
      // - resize each slide to the slideTrack's height (it will have the height of the tallest slide now)
      slick.$slides.css('height', slick.$slideTrack.height() + 'px');
    });
  });
</script>