body {
  background-color:#fafafa;
}
.container {
  padding-bottom: 40px;
}
.header {
  border-bottom-style: solid;
  padding: 40px 0;
}
.header p {
  margin: 0;
}
#site-title, #site-title:link, #site-title:hover {
  color: inherit;
  text-decoration: inherit;
}
.site-content {
  margin-top: 40px;
}
.page-content {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 30px;
  background-color: white;
}
.page-content .page-content-title {
  margin-bottom: 30px;
}
#site-nav {
  padding-left: 0;
}
nav .btn {
  margin-bottom: 25px;
  background-color:white;
  border-color: lightgray;
  border-radius: 0;
  white-space: normal;
  padding: 6px 12px;
}
.slick-slide {
  overflow:hidden;
}
#gallery .caption {
  position: relative;
  top: 0;
  padding: 20px 0;
}
.articles-row {
  padding: 6px 0;
}
.articles-section h6 {
  font-weight: bold;
  margin-bottom: 15px;
}
.articles-section-title {
  margin-bottom: 10px;
}
.articles-header {
  margin-bottom: 15px;
}
.book-slider .card {
  margin: 0 10px;
  padding: 20px 0;
  height: 100%;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-size: small;
}
.card img {
  height: 120px;
  max-height: 120px;
}
#displayCaption {
  font-style: italic;
  padding-top: 15px;
}
#links p {
  margin-bottom: 5px;
}
#links a {
  display: block;
  margin-bottom: 20px;
}
table td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
.articles, .articles ul {
  list-style-type: none;
  padding-left: 0;
}
.articles li {
  margin-bottom: 6px;
}
.site-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.articles-section {
  padding: 20px 10px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-bottom: 40px;
}
.no-padding {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #gallery img {
    max-height: 300px;
  }
}
