body {
  background-color:#fafafa;
}
.container {
  padding-bottom: 40px;
}
.header {
  border-bottom-style: solid;
  padding: 40px 0;
}
.header p {
  margin: 0;
}
#site-title, #site-title:link, #site-title:hover {
  color: inherit;
  text-decoration: inherit;
}
.site-content {
  margin-top: 40px;
}
.page-content {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 30px;
  background-color: white;
}
.page-content .page-content-title {
  margin-bottom: 30px;
}
#site-nav {
  padding-left: 0;
}
.nav-item {
  margin-bottom: 25px;
}
.nav-item > .btn {  
  color: #6c757d;
  background-color:white;
  border-color: lightgray;
  border-radius: 0;
  white-space: normal;
  padding: 6px 12px;
}
.nav-item > .btn:hover {  
  color: #fff;
  background-color: #6c757d;
}
.slick-slide {
  overflow: hidden;
}
#gallery .caption {
  position: relative;
  top: 0;
  padding: 20px 0;
}
.articles-row {
  padding: 6px 0;
}
.articles-section h6 {
  font-weight: bold;
  margin-bottom: 15px;
}
.articles-section-title {
  margin-bottom: 10px;
}
.articles-header {
  margin-bottom: 15px;
}
.book-slider {
  margin-bottom: 40px;
}
.book-slider .card {
  margin: 0 10px;
  padding: 20px 0;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-size: small;
}
.card img {
  height: 120px;
  max-height: 120px;
}
.card-body {
  padding-bottom: 0;
}
#displayCaption {
  font-style: italic;
  padding-top: 15px;
}
.thumbnail:hover {
  cursor: pointer;
}
#links p {
  margin-bottom: 5px;
}
#links a {
  display: block;
  margin-bottom: 20px;
}
table td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
.articles, .articles ul {
  list-style-type: none;
  padding-left: 0;
}
.articles li {
  margin-bottom: 6px;
}
.articles-section {
  padding: 20px 10px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-bottom: 40px;
}
.no-padding {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #gallery img {
    max-height: 300px;
  }
  #site-nav {
    padding: 0px 4px;
  }
  .nav {
    justify-content: center;
  }
  .nav-item {
    margin: 0px 2px 15px;
  }
}
@media (max-width: 576px) {
  .header {
    position: relative;
    border-bottom: none;
  }
  .header:after {
    content: "";
    position: absolute;
    bottom: -3px;
    background-color:black;
    height: 3px;
    width: 90%;
    left: 5%;
  }
}
