body {
  background-color: #fafafa;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
#sitePreview {  
  background-color: white;
  max-width: 889px;
  margin: 20px auto;
  padding: 30px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
}
.articles-section {  
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  flex: 0 1 50%;
}
.articles-section ul {  
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#pdfHeader {
  margin-top: 80px;
}
#pdfPreview {
  margin-top: 10px;
  width: 99%;
  height: 400px;
}
h3 {
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0px 0px 15px;
}
h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0px 0px 15px;
}
li {
  margin-bottom: 6px;
}
a {
  color: #007bff;
  text-decoration: none;
}
ul.space-bottom {
  margin-bottom: 15px;
}