---
layout: default
title: SaleItem
include_script: true
---
<h2 class="page-content-title">{{ page.title }}</h2>
<div id="sale-item-container">
  <div id="item-images">
    <img id="item-display" class="item-img" src="{{ page.images[0] }}" alt="">
    {% if page.images.size > 1 %}
    <div class="item-thumbnail-list">
      {% for img in page.images %}
      <img class="item-thumbnail" src="{{ img }}" alt="">
      {% endfor %}
    </div>
    {% endif %}
  </div>  
  <div id="item-info">
    {% if page.price and page.price != empty %}
    <div id="item-price">{{ page.price }}</div>
    {% endif %}

    {% assign stripped_content = content | strip %}
    {% if stripped_content != empty and page.notes_at_bottom == false %}
    {{ content }}
    {% endif %}

    {% if page.age and page.age != empty%}
    <div>
      <span class="label">Age: </span>
      {{ page.age }}
    </div>
    {% endif %}

    {% if page.measurements and page.measurements != empty %}
    <div>
      <span class="label">Measurements: </span>
      {{ page.measurements }}
    </div>
    {% endif %}

    {% if page.material and page.material != empty %}
    <div>
      <span class="label">Material: </span>
      {{ page.material }}
    </div>
    {% endif %}

    {% if page.item_id and page.item_id != empty %}
    <div>
      <span class="label">ID: </span>
      {{ page.item_id }}
    </div>
    {% endif %}

    <p id="inquiry-note">
      For inquiries, please send an email to <a href="mailto:nshapir1@nycap.rr.com">nshapir1@nycap.rr.com</a>
      and include the ID listed above, or call me at (518) 436-9522.
    </p>
  </div>
</div>
{% if stripped_content != empty and page.notes_at_bottom %}
<div class="item-bottom-notes">
{{ content }}
</div>
{% endif %}